.button-new {
    text-align: right; 
    margin-bottom: 25px;
}

.margin-right-5px {
    margin-right: 5px;
}

.padding-top-15px {
    padding-top: 15px;
}

.padding-right-10px {
    margin-right: 10px;
}
